{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

<!-- template from code institute Boutique Ado -->

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <i>
                <h2 class="logo-font text-light bg-color rounded pl-2 pr-2 pt-1 pb-2 mb-4 mt-5" id="shopping-bag-title">
                    Shopping Bag</h2>
            </i>
            <p class="text-light mt-3 mb-5">
                <i>A summary of your bag contents is below </i>
            </p>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="d-block d-md-none">
                <div class="row">
                    <div class="col">
                        <h4>{% include "bag/bag-total.html" %}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% include "bag/checkout-buttons.html" %}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>
                <br>
                {% for item in bag_items %}
                <div class="row">
                    <div class="col-12 col-sm-8 mb-2">
                        {% include "bag/product-image.html" %}
                    </div>
                    <div class="col-12 col-sm-8 mb-2">
                        {% include "bag/product-info.html" %}
                    </div>
                    <div class="col-12 col-sm-8 order-sm-last mb-4">
                        {% if item.product.discount_price %}
                        <div class="col-12 col-sm-8">
                            {% include "bag/quantity-form.html" %}
                        </div>
                        <p class="text-black">Price Each: £<del>{{ item.product.price }}</del></p>
                        <h4 class="text-light">Discount Price :</h4>
                        <h4 class="discount-price-text-light">
                            <i>
                                <b> ~ </b>£{{ item.product.discount_price }}<b>~</b>
                            </i>
                        </h4>
                        <strong class="text-black">Subtotal: </strong>
                        <i class="ml-2">
                            £{{ item.product.discount_price | calculate_subtotal:item.quantity }}
                        </i>
                        {% else %}
                    </div>
                    <div class="col-12 col-sm-6 mb-4">
                        {% include "bag/quantity-form.html" %}

                        <p class="text-black">Price Each: £{{ item.product.price }}</p>
                        <h4 class="text-light">Discount Price :</h4>
                        <h4 class="text-light">
                            <b> ~ </b>£<i></i>0</i><b> ~</b>
                        </h4>
                        <strong class="text-black">Subtotal: </strong>
                        <i class="ml-2">
                            £{{ item.product.price | calculate_subtotal:item.quantity }}
                        </i>
                    </div>
                </div>
                <br>

                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        {% endfor %}
        <div class="btt-button shadow-sm rounded-0 border border-black">
            <a class="btt-link d-flex h-100">
                <i class="fas fa-arrow-up text-light mx-auto my-auto"></i>
            </a>
        </div>
    </div>

    <!-- Larger screens -->

    <div class="table-responsive rounded d-none d-md-block">
        <table class="table table-sm table-borderless">
            <thead class="text-light">
                <tr>
                    <th scope="col "><i>Product Image</th></i>
                    <th scope="col"><i>Description</i></th>
                    <th scope="col"><i>Price</i></th>
                    <th scope="col"><i>Discount Price</i></th>
                    <th scope="col"><i>Qty</i></th>
                    <th scope="col"><i>Subtotal</i></th>
                </tr>
            </thead>

            {% for item in bag_items %}
            <div>

                <tr>
                    <td class="p-3 w-25">
                        {% include "bag/product-image.html" %}
                    </td>

                    <td class="py-3">
                        {% include "bag/product-info.html" %}
                    </td>

                    <td class="py-3">
                        <span class="text-black">£{{ item.product.price }}</span>
                    </td>

                    <td class="py-3">
                        <p class=" text-light">£{{ item.product.discount_price }}</p>
                    </td>

                    <td class="py-3 w-25">
                        {% include "bag/quantity-form.html" %}
                    </td>

                    {% if item.product.discount_price %}
                    <td class="py-3">
                        <p class=" ml-4 text-light">
                            £{{ item.product.discount_price | calculate_subtotal:item.quantity }}
                        </p>
                    </td>
                    {% else %}
                    <td class="py-3">
                        <p class=" ml-4 text-light">
                            £{{ item.product.price | calc_subtotal:item.quantity }}</p>
                    </td>
                    {% endif %}
                </tr>
            </div>
            {% endfor %}
            <tr>
                <td colspan="5" class="pt-5 text-right text-black">
                    {% include "bag/bag-total.html" %}
                </td>
            </tr>
            <tr>
                <td colspan="5" class="text-right">
                    {% include "bag/checkout-buttons.html" %}
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    {% else %}
    <p class="lead mb-5">Your bag is empty.</p>
    <a href="{% url 'products' %}" class="btn btn-outline-black rounded btn-lg">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </a>
    {% endif %}
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}