{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% block extra_title %}/ Home{% endblock %}

<!-- template from code institute Boutique Ado -->
<div class="container header-container">
    <div class="row">
        <div class="col mb-4"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="page-blurb" class="col-8 col-lg-4 ml-5 mt-5 bg-color p-3">
    <header>
        <section id="page-blurb-header" class="text-light">
            <h2> Why <strong><i>Shop</i></strong> with us?</h2>
        </section>
        <hr>
        <section id="page-blurb-text" class="text-light rounded">
            <h3> We have everything from <strong><i>QUALITY</i></strong> mens
                clothing and
                <strong><i>BEAUTIFUL</i></strong>
                women's clothing to <i>HOME</i> and <i>KITCHENWARE.</i> It's also a great place to buy a <strong><i>
                        GIFT
                    </i></strong>for
                family
                or
                friends and save money using one of our many <strong><i> DISCOUNTS.
                    </i></strong> You can
                also sign up for a <strong><i> SUBSCRIPTION </i></strong> to our <strong><i> NEWSLETTER </i></strong> to
                stay up to date with the latest deals
                so have a look around and happy shopping.</h3>
        </section>
    </header>
</div>
<div class=" container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font" id="main-header">
                Don't miss these great deals!
            </h1>
            <div class="my-5">

                <a href="{% url 'products' %}"
                    class="shop-now-button btn btn-lg btn-purple border-0 rounded text-uppercase"
                    id="shop-button">Explore
                    Shop</a>

            </div>
        </div>
    </div>
</div>
{% endblock %}

<script>
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>