{% extends "base.html" %}
{% load static %}

{% block page_header %}

<!-- template from code institute Boutique Ado -->
<div class="container header-container">
    <div class="row">
        <div class="col mb-4"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-light mt-5" id="main-header">
                Don't miss these great deals!
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}"
                        class="shop-now-button btn btn-lg btn-purple border-0 rounded text-uppercase"
                        id="shop-button">Explore
                        Shop</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}