{% extends "base.html" %}
{% load static %}

{% block page_header %}

<!-- template from code institute Boutique Ado -->
<div class="container header-container">
    <div class="row">
        <div class="col mb-4"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="page-blurb" class="col-8 col-lg-4 ml-5 mt-5 bg-color p-3">
    <header>
        <span id="page-blurb-header" class="text-light">
            <h1> Why <strong><i>Shop</i></strong> with us?</h1>
        </span>
        <hr>
        <span id="page-blurb-text" class="text-light rounded">
            <h2> We sell anything from <strong><i>QUALITY</i></strong> mens
                clothing and
                <strong><i>BEAUTIFUL</i></strong>
                women's clothing to home and kitchenware. It's also a great place to buy a <strong><i> GIFT
                    </i></strong>for
                family
                or
                friends and save money using one of our <strong><i> COUPONS </i></strong> and <strong><i> DISCOUNTS.
                    </i></strong> You can
                also sign up for a <strong><i> SUBSCRIPTION </i></strong> to our <strong><i> NEWSLETTER </i></strong> so
                have
                a
                look around and happy
                shopping.</h2>
        </span>
    </header>
</div>
<div class=" container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-light" id="main-header">
                Don't miss these great deals!
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}"
                        class="shop-now-button btn btn-lg btn-purple border-0 rounded text-uppercase"
                        id="shop-button">Explore
                        Shop</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<!-- Footer section -->

<footer>
    <div class="footer">
        <ul class="social-networks">
            <li>
                <a href="https://facebook.com" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in a new tab)"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://twitter.com" target="_blank" rel="noopener"
                    aria-label="Visit our Twitter page (opens in a new tab)"><i class="fab fa-twitter-square"></i></a>
            </li>
            <li>
                <a href="https://youtube.com" target="_blank" rel="noopener"
                    aria-label="Visit our YouTube page (opens in a new tab)"><i class="fab fa-youtube-square"></i></a>
            </li>

            <li>
                <a href="https://instagram.com" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (opens in a new tab)"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>

        <a href="#" class="text-dark" id="privicy-policy">Privicy Policy</a>

        </ul>
    </div>
    <span>
        <p class="copyright">
            &copy; Copyright SPUR-<b>TECH </b> Web Designs @ 2021
        </p>
    </span>
</footer>
{% endblock %}