html {
    height: 100%;
}

strong {
    color: rgb(0, 238, 255);
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

p.my-0 {
    color: rgb(0, 238, 255);
    text-shadow: 0 .3rem .3rem rgb(59, 59, 59);
}

i {
    color: rgb(0, 238, 255);
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

.bg-secondary {
    background-image: linear-gradient(rgb(175, 59, 241), rgb(0, 0, 0));
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Mochiy Pop One', sans-serif;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgb(101, 0, 196);
    color: rgb(0, 238, 255);
    min-width: 260px;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0);

}

.btn-black {
    background: rgb(0, 0, 0);
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgb(132, 0, 255);
    color: rgb(200, 247, 255);
}

.text-light {
    color: rgb(0, 238, 255) !important;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}