* {
    padding: 0px;
    margin-right: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Mochiy Pop One', sans-serif;
}

#page-blurb {
    border-radius: 15px;
}

#page-blurb-header h1 {
    font-size: 30px;
}

#page-blurb-text h2 {
    font-size: 20px;
}

/* Text colors */

.discount-price i {
    color: rgb(0, 238, 255);
    text-shadow: 0 .2rem .2rem rgba(0, 0, 0);

}

.nav-item {
    color: rgb(0, 212, 212);
    text-shadow: 0 .3rem .3rem rgb(39, 39, 39);
}

.text-light {
    color: rgb(0, 238, 255) !important;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0);
}

.edit-text-light {
    color: rgb(0, 238, 255) !important;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0);
    font-size: 12px;
}

.edit-text-light:hover {
    color: rgb(0, 206, 0) !important;
}

.delete-review-title {
    font-size: 30px;
    margin-bottom: 100px;
}

.review-text-danger {
    color: rgb(197, 0, 0) !important;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0);
    font-size: 12px;
}

.review-text-danger:hover {
    color: rgb(255, 0, 0) !important;
}

.review-date {
    font-size: 12px;
}

.text-danger {
    color: rgb(197, 0, 0) !important;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0);
    font-size: 20px;
}

.delete-text-danger {
    color: rgb(197, 0, 0) !important;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0);
    font-size: 16px;
}

.delete-text-danger:hover {
    color: rgb(255, 0, 0) !important;
    text-decoration: none;
}

.invalid-feedback {
    color: rgb(255, 0, 0) !important;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0);
    font-size: 16px;
}

.text-light-link {
    color: rgb(0, 238, 255) !important;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0);
    font-size: 16px;
}

.text-light-link:hover {
    color: rgb(0, 206, 0) !important;
    text-decoration: none;
}

.reviews-text-light-link {
    color: rgb(0, 238, 255) !important;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0);
    font-size: 16px;
}

.reviews-text-light-link :hover {
    color: rgb(0, 206, 0) !important;
}



.delivery-info-text-light {
    color: rgb(0, 238, 255) !important;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0);
    font-size: 20px;
}

.text-dark {
    color: rgb(136, 136, 136) !important;
}

.text-black {
    color: black;
    text-shadow: 0 rgba(0, 0, 0);
}

p.my-0 {
    color: rgb(0, 238, 255);
}

p.my-0:hover {
    color: rgb(0, 206, 0) !important;
}

a:hover {
    transform: scale(1.1);
}

i {
    color: rgb(0, 238, 255);
    text-shadow: 0 .2rem .2rem rgba(0, 0, 0);
}

/* Background colors */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-image: linear-gradient(rgb(177, 177, 177), rgb(110, 110, 110));
    z-index: -1;
}

.bg-dark {
    background-color: black !important;
}

.bg-nav-color {
    background-image: linear-gradient(rgb(175, 59, 241), rgb(0, 0, 0));
}

.bg-color {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(175, 59, 241));
}

.edit-bg-color {
    text-align: center;
    background: linear-gradient(rgb(134, 134, 134), rgba(0, 0, 0, 1));
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(228, 3, 3);
}

.red-dotted-line {
    border-top-style: dashed;
    border-width: 1px;
    border-color: rgb(228, 3, 3);
}

.text-color {
    color: rgb(0, 238, 255);
    text-shadow: 0.2rem .2rem rgba(0, 0, 0);
    background-image: linear-gradient(rgb(175, 59, 241), rgb(0, 0, 0));
    padding-left: 3px;
    padding-right: 10px;
    padding-bottom: 3px;
    border-radius: 5px;
}

.navbar-toggler {
    background-color: rgb(0, 212, 212);
}

.dropdown-menu {
    background-image: linear-gradient(rgb(175, 59, 241), rgb(0, 0, 0));
}

a.dropdown-item {
    color: rgb(0, 212, 212);
    text-shadow: 0 .2rem .2rem rgb(0, 0, 0);
}

a.dropdown-item:hover {
    background-image: linear-gradient(rgb(175, 59, 241), rgb(0, 0, 0));
    color: rgb(0, 206, 0);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

#main-header {
    text-shadow: 0 .5rem .5rem rgb(0, 0, 0);
}

.main-logo-link {
    width: fit-content;
}

input {
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

.shop-now-button {
    background: rgb(101, 0, 196);
    color: rgb(0, 238, 255);
    width: 260px;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

.cart-button {
    background: rgb(101, 0, 196);
    color: rgb(0, 238, 255);
    min-width: 260px;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

.btn {
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0);
    border-radius: 5px;
}

.btn-black {
    background: rgb(0, 0, 0);
    color: rgb(0, 238, 255);
    border-radius: 5px;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.delete-btn-outline-black {
    background: white;
    color: rgb(206, 0, 0) !important;
    border: 1px solid rgb(206, 0, 0);
    margin-bottom: 100px;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

.delete-btn-outline-black:hover {
    color: rgb(255, 255, 255) !important;
    background: rgb(206, 0, 0) !important;
    border: 1px solid rgb(0, 0, 0);
    transform: scale(1.1) !important;
}

.cancel-btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
    margin-bottom: 100px;
}

.cancel-btn-outline-black:hover {
    color: rgb(0, 206, 0) !important;
    background-image: linear-gradient(rgb(175, 59, 241), rgb(0, 0, 0));
}

.border-black {
    border: 1px solid black !important;
}

.btn-purple {
    background-image: linear-gradient(rgb(175, 59, 241), rgb(0, 0, 0));
    color: rgb(0, 238, 255);
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0);
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-purple:hover,
.btn-purple:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus,
.primaryAction:hover,
.btn-outline-black:hover {
    background-image: linear-gradient(rgb(175, 59, 241), rgb(0, 0, 0));
    color: rgb(0, 206, 0) !important;
    transform: scale(1.1);
}

.update-link {
    color: rgb(0, 238, 255) !important;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0);
    font-size: 12px;
    margin-top: 0px;
}

a.update-link:hover {
    color: rgb(0, 206, 0) !important;
    font-size: 15px;
}

.remove-item {
    color: rgb(197, 0, 0) !important;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0);
    font-size: 12px;
    margin-top: 5px;
}

.remove-item:hover {
    color: rgb(255, 0, 0) !important;
    font-size: 15px;
}

.small a {
    color: rgb(0, 192, 206);
    margin-left: 60px;
}

.small a:hover {
    color: rgb(0, 206, 0) !important;
    text-decoration: none;
    width: 20%;
}

#all-products-link:hover {
    color: rgb(255, 255, 255) !important;
}

#clothing-link:hover {
    color: rgb(255, 255, 255) !important;
}

#homeware-link:hover {
    color: rgb(255, 255, 255) !important;
}

#specials-link:hover {
    color: rgb(255, 255, 255) !important;
}

#home:hover {
    color: rgb(255, 255, 255) !important;
}

#category-tag:hover {
    color: rgb(0, 206, 0) !important;
}

a.category-badge {
    font-size: 25px;
    letter-spacing: 2px;
    margin: 5px;
}

a.order_number:hover {
    color: rgb(0, 206, 0) !important;
}

#sort-selector {
    margin-top: 15px;
}

#products-title {
    color: rgb(0, 238, 255);
    text-shadow: 0 .3rem .3rem rgb(0, 0, 0);
}

#wishlist-title {
    color: rgb(0, 238, 255);
    text-shadow: 0 .3rem .3rem rgb(0, 0, 0);
}

.btt-button {
    background-image: linear-gradient(rgb(175, 59, 241), rgb(0, 0, 0));
    color: rgb(0, 238, 255);
    height: 32px;
    width: 32px;
    position: fixed;
    bottom: 10px;
    left: 2.5px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.close-text-danger {
    color: rgb(255, 0, 0);
    font-size: 20px;
    background-color: transparent;
}

.toast-capper {
    height: 2px;
    background-color: rgb(197, 0, 0);
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: rgb(197, 0, 0) !important;
}

.bg-danger {
    border-bottom-color: rgb(197, 0, 0) !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

#id_country {
    height: 50px;
}

.form-control {
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

.order-info {
    font-size: 30px;
}

.reviews-title {
    font-size: 20px;
}

.reviews-title:hover {
    font-size: 25px;
    color: rgb(0, 206, 0) !important;
    text-decoration: none !important;
}

.reviews {
    text-align: center;
    background: linear-gradient(rgb(134, 134, 134), rgba(0, 0, 0, 1));
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 5px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(228, 3, 3);
    width: 100%;
}

.img-fluid {
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

/* footer */

.footer {
    width: 100%;
    position: sticky;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    margin: 20px;
    font-size: 160%;
    color: rgb(0, 238, 255);
}

#privicy-policy:hover {
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
}

.copyright {
    color: rgb(0, 0, 0);
    background-color: rgba(131, 131, 131, 1);
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border: 30px rgba(0, 0, 0, 0.9) !important;
    border-style: solid;

}

b {
    color: rgb(168, 0, 0);
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .header-container {
        padding-top: 200px;
    }

    #small-title {
        text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
    }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
}

.allauth-form-inner-content input {
    border-color: #000;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    margin-top: 4px;
    border-radius: 3px;
    border-color: #000000;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-color: #ff0000;
    margin-top: 4px;
    border-radius: 3px;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

a img.rounded {
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

@media (max-width: 1240px) {
    .add-to-bag-button {
        font-size: 10px;
        height: 30px;
    }

    .keep-shopping-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        height: 30px;
        width: 150px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .header-container {
        padding-top: 200px;
    }

    #small-title {
        text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
    }
}

@media (max-width: 1010px) {
    .delivery-info-text-light {
        font-size: 15px;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 800px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 800px) {

    #page-blurb {
        border-radius: 10px;
    }

    #page-blurb-header h1 {
        font-size: 20px;
    }

    #page-blurb-text h2 {
        font-size: 15px;
    }

    .header-container {
        padding-top: 116px;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        font-size: 8px;
        padding: 8px;
    }

    .btn.btn-outline-black.rounded,
    .btn.btn-black.rounded {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded.btn-lg,
    .btn.btn-black.rounded.btn-lg {
        padding: .375rem .375rem;
        font-size: .65rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }

    #main-header {
        font-size: 40px;
        text-shadow: 0 .4rem .2rem rgb(0, 0, 0);
    }

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    #delivery-banner h4 {
        font-size: .7rem;
    }

    .review-title {
        font-size: 20px;
    }

    .header-container {
        padding-top: 150px;
    }

    #small-title {
        font-size: 45px !important;
        text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
    }

    .footer {
        font-size: 12px;
    }

    .copyright {
        font-size: 10px;
    }

    .discount-price {
        font-size: 24px;
    }

    #main-header {
        font-size: 30px;
    }

    body {
        width: 100%;
    }

    li {
        font-size: 8px;
        padding: 0px !important;
        margin: 0px !important;
    }

    .logo-font.font-weight-bold.nav-link {
        font-size: 12px;
    }

    #main-header {
        text-shadow: 0 .3rem .2rem rgb(0, 0, 0);
    }

    h4 .shop-now-button {
        height: 35px;
        width: 200px;
        font-size: 13px;
    }

    .logo-font {
        font-size: 28px;
    }

    .text-light-link {
        font-size: 12px;
    }

    .delete-text-danger {
        font-size: 12px;
    }

    .grand-total {
        font-size: 25px;
        color: rgb(0, 238, 255);
        text-shadow: 0 .2rem .2rem rgba(0, 0, 0);
    }
}