{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-6 my-auto">
            <h1 class="text-light mt-5" id="main-header">
                The page you are looking for doesn't exist.
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}"
                        class="shop-now-button btn btn-lg btn-purple border-0 rounded text-uppercase" id="shop-button">
                        Return to shop
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}