{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<section class="pb-3">
    <div class="container">
        <div class="row">
            <div class="col text-center mt-5 mb-3 pt-3" id="wishlist-title">
                <h2>My Wishlist</h2>
                <hr class="w-50 m-auto">
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if request.user.is_authenticated %}
                {% if wishlist.products.all %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-light">
                            <tr>
                                <th scope="col "><i>Product Image</th></i>
                                <th scope="col"><i>Description</i></th>
                                <th scope="col"><i>Price</i></th>
                                <th scope="col"><i>Discount Price</i></th>
                            </tr>
                        </thead>

                        {% for wish in wishlist.products.all %}
                                <tr class="wishlist-row">
                                    <td class="wishlist-image w-25">
                                        {% include "includes/wishlist-image.html" %}
                                    </td>
                                    <td class="py-3">
                                        {% include "includes/wishlist-info.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p><i>£{{ wish.price }}</i></p>
                                    </td>
                                    <td class="py-3 w-10 pl-4">
                                        <a class="btn delete-btn-outline-black"
                                            href="{% url 'remove_from_wishlist' wish.id %}">Remove</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td class="wishlist-browsing text-right" colspan="5">
                                        {% include 'includes/wishlist-buttons.html' %}
                                    </td>
                                </tr>
                    </table>
                </div>
                {% else %}
                <p class="lead my-5">Your wishlist is currently empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-warning rounded-0 btn-lg">
                    <span>
                        <i class="fa fa-chevron-left text-white"></i>
                    </span>
                    <span>Keep Browsing</span>
                </a>
                {% endif %}
                {% else %}
                <p class="lead my-5">Please Sign In To View Your Wishlist.</p>
                <a href="{% url 'account_login' %}" class="btn btn-outline-warning rounded-0 btn-lg">
                    <span>Sign In</span>
                    <span>
                        <i class="fa fa-chevron-right text-white"></i>
                    </span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}