{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block extra_title %}/ Logout{% endblock %}

{% block inner_content %}
<hr>
<i>
  <h2 class="logo-font mb-4 pb-2 pl-2 pt-1" id="products-title">{% trans "Sign Out" %}</h2>
</i>
<hr>
<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="btn btn-outline-black rounded mr-2 mt-3" href="{% url 'home' %}">Cancel</a>
  <button class="btn-black btn rounded mt-3" type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}