.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 .3rem .5rem #000000;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 .3rem .5rem #000000;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
}

.text-danger {
    color: rgb(228, 0, 0) !important;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0);
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(175, 59, 241), rgb(0, 0, 0));
    z-index: 9999;
}

.box {
    inline-size: 280px;
    overflow-wrap: break-word;
}

.toast-box {
    inline-size: 300px;
    overflow-wrap: break-word;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

@media (min-width: 600px) {
    .box {
        inline-size: 480px;
        overflow-wrap: break-word;
    }
}

@media (max-width: 400px) {
    .box {
        inline-size: 180px;
        overflow-wrap: break-word;
    }
}