{% extends "base.html" %}
{% load static %}

<!-- modified products template from code institute Boutique Ado -->

{% block extra_title %}/Products{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center" id="products-title">
            <h2 class="logo-font mt-5 mb-4">Products</h2>
            {% for c in current_categories %}
            <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                <span class="p-2 badge btn-purple rounded">{{ c.friendly_name }}</span>
            </a>
            {% endfor %}
            <hr class="mb-1">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="sort-select-wrapper w-50">
                    <select id="sort-selector"
                        class="custom-select custom-select-sm rounded border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                        </option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low
                            to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                            (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
                        </option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
                        </option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                            Category (A-Z)</option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                            Category (Z-A)</option>
                    </select>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-color mt-3 text-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a class='ml-1' href="{% url 'products' %}">Products Home - </a> |
                        </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for
                        <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row  mb-5">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ product.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    </p>
                                    <h4 class="font-weight-bold">
                                        {% if product.discount_price %}
                                        <i class="discount-price">£{{ product.discount_price }}</i>
                                        <strong>£<del>{{ product.price }}</del>
                                            {% else %}
                                            £<strong>{{ product.price }}</strong>
                                            {% endif %}
                                        </strong>
                                    </h4>
                                    <hr>
                                    {% if product.category %}
                                    <div class="bg-color pt-1 pr-2 pl-2 pb-1 rounded">
                                        <p class="mt-1 mb-2">

                                            <h5><i>Category</i></h5 class="textlight">
                                            <a class="text-black text-decoration-none" id="category-tag"
                                                href="{% url 'products' %}?category={{ product.category.name }}">
                                                <i
                                                    class="fas fa-tag mr-1"></i><i>{{ product.category.friendly_name }}</i>
                                            </a>
                                        </p>
                                    </div>
                                    <hr>
                                    {% endif %}
                                    <a class="reviews-text-light-link text-decoration-none bg-color pl-1 pr-2 pb-1 rounded"
                                        href="{% url 'product_detail' product.pk %}"><i>Reviews</i>
                                    </a>
                                    <br>
                                    {% if user.is_authenticated %}
                                    <form class="form" action="{% url 'add_to_wishlist' product.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit"
                                            class="btn text-color text-light-link rounded border-0 mt-3"
                                            data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                            <small><i class="fas fa-heart fa-lg"></i></small>
                                            <strong>Add To Wishlist!</strong>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </button>
                                    </form>
                                    {% else %}
                                    <a href="{% url 'account_login' %}" class="btn" data-toggle="tooltip"
                                        data-placement="top" title="Add to wishlist">
                                        <i class="fas fa-heart fa-lg"></i>
                                    </a></p>
                                    {% endif %}
                                    <hr>
                                    {% if request.user.is_superuser %}
                                    <section class="edit-bg-color pt-1 pb-1 pr-2 pl-2 rounded">
                                        <p><i>Edit Product</i></p>
                                        <small>
                                            <a class="text-light-link"
                                                href="{% url 'edit_product' product.id %}">Edit</a> |
                                            <a class="delete-text-danger"
                                                href="{% url 'delete_product' product.id %}">Delete</a>
                                        </small>
                                        {% endif %}
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}